<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="ui fixed inverted blue secondary menu">
        <a class="item" href="/">
        YelpCamp
        </a>
        
        <div class="right menu">
            <% if(!currentUser){ %>
                
                <a class="item" href="/login">Login</a>
                <a class="item" href="/register">Sign Up</a>
            <% } else { %>
                <div class="item">Welocome back &nbsp; <a href="" style="color:red;"><%= currentUser.username %></a></div>
                <a class="item" href="/logout">Logout</a>
            <% } %>
        </div>
    </div>

    <% if(error && error.length > 0){ %>
        <div class="ui container">
            <div class="ui negative floating message"><%= error %></div>
        </div>
    <% } else if(success && success.length > 0) { %>
        <div class="ui container">
            <div class="ui success floating message"><%= success %></div>
        </div>
    <% } %>
    
    
     <!--<div class="item">
        <div class="ui transparent icon input " >
            <input type="text" placeholder="Search..." style="color : white;">
            <i class="search inverted link icon"></i>
        </div>
     </div>-->