<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="ui fixed inverted blue secondary menu">
        <a class="item" href="/">
        YelpCamp
        </a>
        
        <div class="right menu">
            <a class="item">
            Login
            </a>
            <a class="item">
            Sign Up
            </a>
            <a class="item">
            Logout
            </a>
        </div>
    </div>


     <!--<div class="item">
        <div class="ui transparent icon input " >
            <input type="text" placeholder="Search..." style="color : white;">
            <i class="search inverted link icon"></i>
        </div>
     </div>-->