<% include ../partials/header %>

<div class="campshead">
    <div class="ui container">
        <h1>Edit a Comment</h1>
        <br>
        <br>
        <br>
        <br>
        <a href="/camps/<%= camp_id%>">back</a>
    </div>
</div>

<div class="ui text container">
  <form class="ui centered form" action="/camps/<%= camp_id%>/comments/<%= comment._id %>?_method=PUT" method="POST">
    <div class="field">
      <textarea type="text" name="comment[text]"><%= comment.text %></textarea>
    </div>
    <button class="ui button fluid" type="submit">Submit</button>
  </form>
</div>

<% include ../partials/footer %> 