.campshead{
    background-color: lightgrey;
    width:100%;
    height: 250px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: -30px;
}

body{
    padding-top: 70px;
}
.campPic{
    width:100%;
}
.name{
    margin-top:8px;
    margin-bottom: -20px;
}
.editbutton{
    margin-top: -20px;
}
.par{
    margin-left:14px;
    margin-right:14px;
}